body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 20px;
  }

  main {
    margin: 0 120px 0 120px;
  }

  .title {
    text-align: center;
  }
  
  .table-container {
    width: 70%;
  }
  
  .img-table {
    padding-right: 20px;
  }

  .row {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .row img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  
  .info p {
    margin: 5px 0;
  }
  
  .pdf-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .pdf-link:hover {
    text-decoration: underline;
  }

  .container {
    display: flex;
    align-items: center;
}

.text {
    max-width: 600px;
}

.img {
    padding-right: 20px;
}

.lower {
    list-style: none;
  }
  
  .li-lower {
    padding-bottom: 20px;
  }